version: '3.7'

# For connection urls to the following instances, see
# https://github.com/prisma/prisma/blob/main/TESTING.md#environment-variables
services:

  # mongodb_migrate:
  #   image: mongo:4
  #   restart: always
  #   environment:
  #     MONGO_INITDB_ROOT_USERNAME: root
  #     MONGO_INITDB_ROOT_PASSWORD: prisma
  #     MONGO_INITDB_DATABASE: tests-migrate
  #   ports:
  #     - '27017:27017'

  # mongodb_migrate_seed:
  #   build: ./mongodb_migrate_seed
  #   depends_on:
  #     - mongodb_migrate

  # Replica Set (required for Prisma Client)
  mongo:
    build: ./data/mongodb_replica
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: prisma
      MONGO_REPLICA_HOST: localhost
      MONGO_REPLICA_PORT: 27018
    ports:
      - '27018:27018'
